@font-face {
    font-family: museo-sans-light;
    src: url("../font/MuseoSansCyrl.otf");
  }
@font-face {
    font-family: museo-sans-regular;
    src: url("../font/MuseoSansCyrl.otf");
  }
  @font-face {
    font-family: museo-sans-bold;
    src: url("../font/MuseoSansCyrl_1.otf");
  }
@font-face {
    font-family: museo-bold;
    src: url("../font/MUSEO900-REGULAR.OTF");
  }

a{
    
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
    
}
h1{
    font-size: 1.5rem;
    font-family: museo-regular;
}
h2{
    font-family: museo-sans-bold;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0076ce;
}
h3{
    font-family: museo-sans-bold;
    font-size: 1.4rem;
    margin: 0;
    margin-top: 0.5rem;
    text-transform: capitalize;
}
h4{
    font-family: museo-sans-regular;
    font-size: 0.7rem;
    color: #4c4c4c;
    display: inline;
}
header button{
    display: flex;
    margin: 10px auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.568);
    padding: 5px 25px;
    border-radius: 100px;
    border: #c7c7c7 solid 1px;
    font-family: museo-sans-regular;
    color: #979797;
    transition: 0.6s;
    box-shadow:  0 0 15px rgba(128, 128, 128, 0.349); 
}

header button:hover{
    box-shadow:  0 0 15px rgba(128, 128, 128, 0.205); 
}
header button:focus{
    outline: 0;
}

header button span{
    margin: 0 auto;
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(../img/chevron-down-outline.svg) no-repeat center bottom;
    background-size: 20px;
    opacity: 0.5;
    transition: 0.6s;
}

header button:hover span{
    opacity: 0.8;
}
    
#area1, #area2, #area3, #area4, #area5, #area6, #area7, #area8, #area9, #area10, #area11, #area12{
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -50px; /* esse valor varia de acordo com a altura do seu Header, se ele tiver 200px de altura coloque aqui -220px por exemplo */
    background-color: transparent;
    z-index: -1;
}

.area-menu{
    display: flex;
    color: #000;
    position:absolute;
    background-color: #fff;
    box-sizing: content-box;
    width: 100%;
    left: 0;
    z-index: 88;
    display: none;
}
.area-menu.active{
    display: block;
}

.area-menu ul{
    padding: 0;
    width: 100%;
    list-style: none;
    
}

.area-menu li{
    font-family: museo-sans-regular;;
    padding: 10px 0;
    text-align: center;
    transition: 0.8s;
}
.area-menu li:hover{
    background-color: #0076ce;
}
.area-menu li:hover a{
    transition: 0.4s;
    color: #fff !important; 
}

.table{
    display: table;
    width: 100%;
}
.vertical-ali{
    display: table-cell;
    vertical-align: middle;
}
.enabled{
    display: block;
    transition: all 1s;
}
.disabled{
    display: none;
    transition: all 1s;
}

.reduzed{
    transition: all 1s;
}

.title{
    text-align: center;
    font-size: 2.5rem;
    font-family: museo-sans-regular;
    margin: 0 0 0 0;
    padding: 20px 20px;
}

.more-information{
    background-color: rgba(255, 255, 255, 0);
    font-family: museo-sans-regular;
    color: #0076ce;
    font-size: 1.2rem;
    border-radius: 2rem;
}
.green-btn{
    border: 0;
    border-radius: 2rem;
    background-color: #00c063;
    font-size: 1rem;
    color: white;
    font-family: museo-sans-regular;
}
.blue-btn{
    border: 0;
    border-radius: 2rem;
    background-color: #0076ce;
    font-size: 1rem;
    color: white;
    font-family: museo-sans-regular;
}

.cred{
    background-color: #fff;
    transition: all 1s;
}
.cred-area{
    background-color: #fff;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    transition: all 1s;
}
.cred-item{
    border: rgb(245, 245, 245) solid 1px;
    border-radius: 0.5rem;
    background-color: #fff;
    padding: 10px;
    margin: 2px;
}
.cred-item:hover{
    background-color: #f8f8f8;
}
.logo-alonged{
    max-width: 90px;
}

.cred-item-logo{
    line-height:150px;
}
.cred-item-logo img{
    max-width: 80px;
    display: block;
    margin: 0 auto;
    line-height:150px;
}
.cred-item-data{
    margin-bottom: 0.5rem;
}
.cred-data-icon img{
    width: 13px;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* Adicionar os prefixos dos navegadores */
}

.data~div{
    font-size: 0.8rem;
    font-family: museo-sans-bold;
}
.museu{
    font-family: museo-sans-bold;
}

.tres {
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 5px 0;
    margin-bottom: 20px;
}
.tra{
    background-color: #fff;
    transition: all 5s;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    


@media screen and (min-width: 600px) {


    .cred-item-logo img{
        width: 130px;
        display: block;
        margin: 0 auto;
        padding: 10px auto;
        line-height:150px;
    }

    .cred-item-logo img{
        max-width: 15rem;
    }
	
}

@media screen and (max-width: 540px) {
	h2 {
		background: #9CF;
	}

    h3{
        font-size: 1rem;
    }
    h5{
        font-size: 0.8rem;
    }
	
}