body{
    background-color: #ddd;
    
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1rem;
    text-transform: uppercase;
}
h3{
    font-size: 0.7rem;
}
.branco{
    background-color: #fff;
}
.rede{
    width: 90%;
}