@font-face {
    font-family: museo-light;
    src: url("../font/Museo300-Regular.otf");
  }
@font-face {
    font-family: museo-regular;
    src: url("../font/Museo700-Regular.otf");
  }
@font-face {
    font-family: museo-bold;
    src: url("../font/MUSEO900-REGULAR.OTF");
  }
body{
    background-color: #eeeeee;
}

.top_header{
    font-size: 0.7rem;
    font-family: museo-regular;
    color: #585858;
}
.logo{
    width: 135px;
}
.counter ul{
  display: inline-block;
  padding: 5px;
  border: 1px solid #f0f0f0;
  border-radius: 0 0 10px 10px;
  font-family: museo-regular;
}
.counter li{
  display: inline;
}
.card-button{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 30px;
}
.title-card-p{
  font-family: museo-bold;
  color: #505050;
  font-size: 0.9rem;
}
.title-card-p span{
  color: #00bf62;
  font-size: 1.2rem;
}
.presente{
  width: 120px;
}
.btn-mesmo-p{
  border: 0;
  color: #fff;
  font-family: museo-regular;
  background-color: #00bf62;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.title-card-f{
  font-family: museo-bold;
  color: #505050;
  font-size: 0.9rem;
  text-align: left;
}
.title-card-f span{
  color: #0076ce;
  font-size: 1.2rem;
}
.subtitle-card-f{
  font-family: museo-bold;
  color: #505050;
  font-size: 0.7rem;
  text-align: left;
}
.btn-mesmo-f{
  border: 0;
  color: #fff;
  font-family: museo-regular;
  background-color: #0076ce;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.friends{
  width: 160px;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

