@font-face {
    font-family: museo-light;
    src: url("../font/Museo300-Regular.otf");
  }
@font-face {
    font-family: museo-regular;
    src: url("../font/Museo700-Regular.otf");
  }
@font-face {
    font-family: museo-bold;
    src: url("../font/MUSEO900-REGULAR.OTF");
  }
body{
    background-color: #eeeeee;
}

.top_header{
    font-size: 0.7rem;
    font-family: museo-regular;
    color: #585858;
}
.logo{
    width: 135px;
}
.card-button{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 50px;
  max-width: 450px;
  min-width: 250px;
}
